<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Searching Project</title>
  <meta name="description" content="Motor de Búsqueda de Textos">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.muicss.com/mui-0.9.20/css/mui.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  <link href="styles.css" rel="stylesheet" />
</head>
<body>
<div class="app-container" id="vue-instance">
    <!-- Search -->
    <div class="mui-panel">
      <div class="mui-textfield">
          <i class="material-icons">search</i>
          <input v-model="textToSearch" type="text" v-on:keyup="onSearchInput()" style="margin-top: -2%;
    padding-left: 2%;" placeholder="Buscar, por ejemplo: Robin Hood">
      </div>
<div v-if="seen" class="mui--textfield">{{ numberOfMatches }} Coincidencias</div>
    </div>
    <!-- Search Results  -->
    <div id="listOfBooks" class="search-results" ref="listOfBooksFound">
      <div v-if="seen" class="mui-panel" v-for="book in listOfBooksFound" v-on:click="showBookModal(book)">
          <div class="mui--text-subhead book">{{ book._source.title }} - {{ book._source.author }}</div>
        <div class="mui-divider"></div>
<div class="mui--text-title" v-html="book.highlight.text[0]"></div>
      </div>
    </div>

    <!-- Bottom Pagination -->
    <div v-if="seen" class="mui-panel pagination-panel">
        <button v-if="seen" id="btnNext" class="mui-btn mui-btn--flat" v-on:click="prevPage()">Anterior</button>
        <button v-if="seen" id="btnPrev" class="mui-btn mui-btn--flat" v-on:click="nextPage()">Siguiente</button>
    </div>
    <!-- Book Page Modal -->
    <div v-if="selectedParagraph" ref="bookModal" class="book-modal" style="width: 100%;">
        <div class="paragraphs-container">
            <div class="title-row">
                <div class="mui--text-display2 all-caps">{{ selectedParagraph._source.title }}</div>
                <div class="mui--text-display1">{{ selectedParagraph._source.author }}</div>
            </div>
            <br>
            <div class="mui-divider"></div>
            <div class="mui-divider"></div>
            <br>
            <div v-for="paragraph in paragraphs">
                <div v-if="paragraph._source.location === selectedParagraph._source.location" class="mui--text-body2">
                    <strong>{{ paragraph._source.text }}</strong>
                </div>
                <div v-else class="mui--text-body1">
                    {{ paragraph._source.text }}
                </div>
                <br>
            </div>
        </div>

        <!-- Book Pagination Footer -->
        <div class="modal-footer" style="padding-left: 23%;">
            <button class="mui-btn mui-btn--flat" v-on:click="prevBookPage()">Página Anterior</button>
            <button class="mui-btn mui-btn--flat" v-on:click="initialBookPage()">Ir al Principio del Libro</button>
            <button class="mui-btn mui-btn--flat" v-on:click="closeBookModal()">Cerrar</button>
            <button class="mui-btn mui-btn--flat" v-on:click="nextBookPage()">Próxima Página</button>
        </div>
    </div>
    <!-- Initial Information Modal -->
    <modal v-if="showModal" @close="showModal = false">
    </modal>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                <div style="font-size:39px" class="mui--text-display2 all-caps">Bienvenido a <b>Searching Project</b></div>

                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                Cada palabra y/o texto que ingrese será buscado en mas de 500 libros.
                                Luego, haciendo click en cada resultado podrá visualizar el contenido del libro en la página donde se encuentra
                                esa coincidencia y navegarlo en su totalidad.
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="mui-btn mui-btn--flat" @click="$emit('close')" style="padding-left: 91%;">
                                    Continuar
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
</div>
<script src="https://cdn.muicss.com/mui-0.9.28/js/mui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
<script src="app.js"></script>


</body>
</html>
